body {
  font-size: small; /*small多数情况下=12px*/
  line-height: 1.6em;
  font-family: Verdana, Helvetica, Arial, sans-serif; 
   /* font: (可选，但一定要在字体大小前font-style font-variant font-weight) (必填，缺一不可font-size/line-height font-family;) */
}

h1, h2 { color: #007e7e;}

h1 { font-size: 150%;}

h2 { font-size: 130%;}

a:link { color:#007e7e;}
a:visited { color:#333333;}

/* 顺序：link,visited,hover,focus,active */

#guarantee { 
  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  color: #444444; 
  border: 1px dashed white; 
  border-radius: 15px;
  background-color: #a7cece; padding: 25px; 
  padding-left: 80px;
  margin: 30px; 
  margin-right: 250px;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;}

#elixirs { 
  float: right;
  border: thin solid #007e7e;
  width: 200px;
  padding: 0px 20px 20px 20px;
  margin-left: 20px;
  text-align: center;
  background: white url(images/cocktail.gif) repeat-x;
  line-height: 1;/*各元素行高是其自身字体大小的1倍，而不是div字体大小的1倍*/
}

#elixirs h2 { color: black;} /*所有嵌套内的子孙*/

#elixirs>h3 { color: #d12c47;}/*直接的孩子*/

#elixirs a:link { color: #007e7e;}
#elixirs a:visited { color: #333333;}
#elixirs a:hover { background: #f88395; color: #0d5353;}

.cd { font-style: italic;}

.artist { font-weight: bold;}

#footer { 
  font-size: 50%;
  line-height: normal;
  text-align: center;
  margin-top: 30px;
}